.contactContainer {
    padding-top: 9rem;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: center;
}

.contactCard {
    padding: 2rem;
    background-color: var(--bg1);
    border-radius: 10px;
    box-shadow: var(--bg1-shadow);
    text-align: center;
    max-width: 600px;
}

.contactTitle {
    margin: 10px auto;
}

.contactTitle h1 {
    font-size: clamp(10px, 5vw, 30px);
    color: var(--a1);
}

.contactTitle p {
    font-size: clamp(5px, 2.5vw, 15px);
    line-height: 1.8;
}

.contactContainer svg {
    margin-right: .5rem;
    width: clamp(10px, 5vw, 30px);
    height: clamp(10px, 5vw, 30px);
    fill: var(--a1);
}

.contactContainer button {
    margin: 10px auto;
    padding: 7px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg1);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--bg1-shadow);
    color: var(--a1);
    transform: scale(1);
}

.contactContainer button:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--bg1-hover);
    color: var(--a1-hover);
}

.contactContainer button:active {
    transform: scale(0.95);
}

.contactContainer button svg {
    margin-right: .5rem;
    width: 24px;
    height: 24px;
    fill: var(--a1);
}

.socialLink {
    margin-top: 1.5rem;
}

.socialLinks {
    display: flex;
    justify-content: center;
}

.socialLinks a {
    margin: 0 10px;
    color: var(--a1);
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.socialLinks a:hover {
    color: var(--a1-hover);
}

.socialLinks svg {
    width: 25px;
    height: 25px;
}