header {
    margin: 1rem auto;
    text-align: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav {
    padding: 8px;
    border-radius: 9999px;
    background-color: var(--bg1);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    box-shadow: var(--bg1-shadow);
}

a {
    text-decoration: inherit;
    color: var(--a1);
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: var(--a1-hover);
}
nav a.active {
  color: red;
}